.header {
  height: 150px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: #4ea0ff;
}

.logo {
  background-image: url("../img/logo.svg");
  height: 40%;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  padding-top: 30px;
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.author {
  font-size: 20px;
}
.azz {
  color: #20a9e5;
}
.gray {
  color: #808080;
}
.text {
  font-size: 14px;
}

.tabu {
  text-align: left;
  width: 100%;
  border-collapse: collapse; /* it seems to remove the white middle spaces */
}
.head {
  background-color: #20a9e5;
}
.text .head {
  color: white;
  font-weight: bold;
}
.cell3 {
  color: white;
  font-weight: bold;
}
.cell12 {
  width: 200px;
  color: white;
  font-weight: bold;
}
.rowodd {
  background-color: #b1e5f2;
}
.undertable {
  padding-top: 10px;
  padding-bottomo: 10px;
}
